#### Add your code below following the instructions given in the course

# The Book of Bonnie

## In this notebook, my learning of Jupyter is summarized

#### **Objectives:**
- List libraries used by data scientists
- List commonly used languages used by data scientists
- Calculations in Python

##### Some of the commonly used libraries used by data scientists include:
1. Pandas
2. NumPy
3. Apache Spark

##### Some of the commonly used languages used by data scientists include:
1. Python
2. R
3. SQL

| Data Science Tools |
| -------------- |
| Apache Airflow |
| Apache nifi |
| Spark SQL |

### Below are some arithmetic examples

In [3]:
1+5

6

In [4]:
7-5

2

In [5]:
(4*23)-5

87

In [6]:
(29*3)+2

89

In [8]:
#This will convert 1200 minutes to hours by dividing 60
1200 / 60

20.0

## AUTHOR
Bonnie